@import "./variables";

.mat-typography h1 {
  font-size: 3rem;
}

.mat-typography h2 {
  font-size: 2rem;
}

.mat-typography h3 {
  font-size: 1.8rem;
}

.mat-typography h4 {
  font-size: 1.6rem;
}

.mat-typography li {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, li {
  color: $primary-color;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
}
