/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500&display=swap');

//fonts
@import './assets/styles/settings/variables';
@import './assets/styles/settings/text-type';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  border-radius: 1.5rem;
  background-color: $background-all-color;
}

::-webkit-scrollbar {
  width: .8rem;
  background-color: $background-all-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  -webkit-box-shadow: inset 0 0 .5rem $background-all-color;
  background-color: $secondary-opacity-color;
}

html, body {
  font-family: $poppins-font-family;
  font-weight: 400;
  font-size: 65.5%;
  height: 100%;
}

body {
  font-size: 2rem;
  min-height: 100vh;
  margin: 0 auto;
  background: $background-all-color;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, p {
  font-family: $poppins-font-family;
}

footer {
  text-align: center;
  font-weight: $font-normal;

  span {
    font-weight: $font-medium;
    color: $secondary-color;
  }
}

.container {
  padding: 1rem 5rem;
  height: auto;
}

.card__glass {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 .8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5rem);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: .5rem;
}

.card__category {
  text-align: center;
  background-color: $secondary-opacity-color;
  border-radius: 1rem;
  padding: 0 1rem;

  p {
    font-weight: $font-medium;
    color: $tertiary-color;
    margin: 0;
  }
}

.img__glass {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 .8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2rem);
  border-radius: 1rem;
  border: .1rem solid rgba(255, 255, 255, 0.18);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
